body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 16px;
  line-height: 1.42857143;
  padding-top: 0;
}

hr {
  margin: 0;
}

div.col-lg-4 {
  margin-top: 35px;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

header h6 i {
  float: left;
  font-size: 24px;
  margin-right: 10px;
  margin-top: 5px;
}

header h6 span {
  overflow: hidden;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 18px;
}

.bd-placeholder-img {
  background: linear-gradient(to right, #5d2d88, #ea4c11);
}

#default2.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
}

#logo-small img {
  max-height: 40px;
}

#logo-small {
  display: none;
}

img.logo {
  max-width: 35%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

#default2 {
  margin-top: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);

.footer1 {
  background: #fff url("") repeat scroll left top;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}

.haberler{
  height: 200px;
}

#HTMLtoPDF {
  margin-top: 30px;
}

#duyurular {
  margin-top: 80px;
}

#anas {
  margin-top: 40px;
}

#anas1 {
  margin-bottom: 27px;
}

#Video1 {
  margin-top: 30px;
}

#iletisim {
  margin-top: 30px;
  margin-bottom: 30px;
}

#indirbtn {
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 14px;
  background-color: #4d8439;
  border-color: #4d8439;
}

#duzenlebtn {
  margin-top: 10px;
  background-color: #4d8439;
  border-color: #4d8439;
}

#kaydetbtn {
  margin-top: 10px;
  margin-left: 14px;
  background-color: #4d8439;
  border-color: #4d8439;
}

#sayfabasi {
  color: white;
  text-decoration: none;
}

#gonderbtn {
  margin-left: 14px;
  background-color: #4d8439;
  border-color: #4d8439;
}

.vbtn {
  background-color: #4d8439;
  border-color: #4d8439;
}

.vtext {
  color: #4d8439;
  text-decoration: none;
}

.title-widget {
  color: #898989;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
  background-color: #ea5644;
  content: "";
  height: 22px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 5px;
}

.widget_nav_menu ul {
  list-style: outside none none;
  padding-left: 0;
}

.widget_archive ul li {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 3px;
}

.widget_nav_menu ul li {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 7px;
  padding-bottom: 7px;
  width: 95%;
}

.title-median {
  color: #636363;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 15px;
  font-family: 'Fjalla One', sans-serif;
}

.footerp p {
  font-family: 'Gudea', sans-serif;
}

#social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
      Only Needed in Multi-Coloured Variation
                                                 */
.social-li {
  color: #4d8439;
}

.social-hr {
  color: #4d8439;
}

.social-gh {
  color: #4d8439;
}

.social-em {
  color: #4d8439;
}

.social-li:hover {
  color: #0e76a8;
}

.social-hr:hover {
  color: #32c766;
}

.social-gh:hover {
  color: #24292e;
}

.social-em:hover {
  color: #BB001B;
}

.nomargin {
  margin: 0px;
  padding: 0px;
}

.footer-bottom {
  background-color: #4d8439;
  min-height: 30px;
  width: 100%;
}

.copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}

.design {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: right;
}

#tinydiv {
  height: 800px;
}

#tiny {
  height: 800px;
}

.content-template {
  display: none
}

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}
